In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv("Data_final.csv", encoding="ISO-8859-1")
data = data.drop(columns=["Unnamed: 6", "Unnamed: 7", "Unnamed: 8"], errors="ignore")
data.head()

,Formula,Excitation,Emission,4T1,4T2,Ref
0,K2Ti0.992F6Mn0.008,450,630,405.0,450.0,https://doi.org/10.1038/s41377-018-0013-1
1,K2Ti0.999F6Mn0.001,450,631,405.0,450.0,https://doi.org/10.1038/s41377-018-0013-1
2,K2Ti0.843F6Mn0.157,450,636,405.0,450.0,https://doi.org/10.1038/s41377-018-0013-1
3,K2Ti0.843F6Mn0.157,450,631,405.0,450.0,https://doi.org/10.1038/s41377-018-0013-1
4,Mg2Ti0.9999O4Mn0.0001,475,655,325.0,475.0,https://doi.org/10.1039/C3TC30553H

In [11]:
element_symbols = [
    "H", "He", "Li", "Be", "B", "C", "N", "O", "F", "Ne", "Na", "Mg", "Al", "Si", "P", "S", "Cl", "Ar",
    "K", "Ca", "Sc", "Ti", "V", "Cr", "Mn", "Fe", "Co", "Ni", "Cu", "Zn", "Ga", "Ge", "As", "Se", "Br",
    "Kr", "Rb", "Sr", "Y", "Zr", "Nb", "Mo", "Tc", "Ru", "Rh", "Pd", "Ag", "Cd", "In", "Sn", "Sb", "Te",
    "I", "Xe", "Cs", "Ba", "La", "Ce", "Pr", "Nd", "Pm", "Sm", "Eu", "Gd", "Tb", "Dy", "Ho", "Er", "Tm",
    "Yb", "Lu", "Hf", "Ta", "W", "Re", "Os", "Ir", "Pt", "Au", "Hg", "Tl", "Pb", "Bi", "Po", "At", "Rn",
    "Fr", "Ra", "Ac", "Th", "Pa", "U", "Np", "Pu", "Am", "Cm", "Bk", "Cf", "Es", "Fm", "Md", "No", "Lr",
    "Rf", "Db", "Sg", "Bh", "Hs"]

# Add new cols in DataFrame
for column_name in element_symbols:
    data[column_name] = 0  # Add a new column with the default name and value of None. 

# Step 3: Save the results back to the CSV file.
output_file_path = 'updated_file_with_new_columns.csv'  
data.to_csv(output_file_path, index=False)
data.head()

,Formula,Excitation,Emission,4T1,4T2,Ref,H,He,Li,Be,...,Es,Fm,Md,No,Lr,Rf,Db,Sg,Bh,Hs
0,K2Ti0.992F6Mn0.008,450,630,405.0,450.0,https://doi.org/10.1038/s41377-018-0013-1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,K2Ti0.999F6Mn0.001,450,631,405.0,450.0,https://doi.org/10.1038/s41377-018-0013-1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,K2Ti0.843F6Mn0.157,450,636,405.0,450.0,https://doi.org/10.1038/s41377-018-0013-1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,K2Ti0.843F6Mn0.157,450,631,405.0,450.0,https://doi.org/10.1038/s41377-018-0013-1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Mg2Ti0.9999O4Mn0.0001,475,655,325.0,475.0,https://doi.org/10.1039/C3TC30553H,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
composition = data['Formula']
composition

0          K2Ti0.992F6Mn0.008
1          K2Ti0.999F6Mn0.001
2          K2Ti0.843F6Mn0.157
3          K2Ti0.843F6Mn0.157
4       Mg2Ti0.9999O4Mn0.0001
                ...
1729    Cs2Si0.9659F6Mn0.0341
1730      Cs2Si0.939F6Mn0.061
1731    Cs2Si0.9075F6Mn0.0925
1732    Cs3Al0.9975F6Mn0.1025
1733                  Cs3AlF6
Name: Formula, Length: 1734, dtype: object

In [13]:
np.shape(composition)
composition[1]

'K2Ti0.999F6Mn0.001'

In [19]:
import re
i = 0
for comp in composition:
    materials = re.findall(r'([A-Z][a-z]*)([\d\.]*)', comp)
    for material in materials:
        if material[0] in element_symbols:
            # print(material[0])
            fraction = float(material[1]) if material[1] else 1.0  
            data.at[i, material[0]] = fraction

    i += 1
output_file_path = 'updated_file_with_new_columns.csv' 
data.to_csv(output_file_path, index=False)
data.head()

,Formula,Excitation,Emission,4T1,4T2,Ref,H,He,Li,Be,...,Es,Fm,Md,No,Lr,Rf,Db,Sg,Bh,Hs
0,K2Ti0.992F6Mn0.008,450,630,405.0,450.0,https://doi.org/10.1038/s41377-018-0013-1,0.0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
1,K2Ti0.999F6Mn0.001,450,631,405.0,450.0,https://doi.org/10.1038/s41377-018-0013-1,0.0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
2,K2Ti0.843F6Mn0.157,450,636,405.0,450.0,https://doi.org/10.1038/s41377-018-0013-1,0.0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
3,K2Ti0.843F6Mn0.157,450,631,405.0,450.0,https://doi.org/10.1038/s41377-018-0013-1,0.0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
4,Mg2Ti0.9999O4Mn0.0001,475,655,325.0,475.0,https://doi.org/10.1039/C3TC30553H,0.0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
data = pd.read_csv("updated_file_with_new_columns.csv")
data.head()

,Formula,Excitation,Emission,4T1,4T2,Ref,H,He,Li,Be,...,Es,Fm,Md,No,Lr,Rf,Db,Sg,Bh,Hs
0,K2Ti0.992F6Mn0.008,450,630,405.0,450.0,https://doi.org/10.1038/s41377-018-0013-1,0.0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
1,K2Ti0.999F6Mn0.001,450,631,405.0,450.0,https://doi.org/10.1038/s41377-018-0013-1,0.0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
2,K2Ti0.843F6Mn0.157,450,636,405.0,450.0,https://doi.org/10.1038/s41377-018-0013-1,0.0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
3,K2Ti0.843F6Mn0.157,450,631,405.0,450.0,https://doi.org/10.1038/s41377-018-0013-1,0.0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
4,Mg2Ti0.9999O4Mn0.0001,475,655,325.0,475.0,https://doi.org/10.1039/C3TC30553H,0.0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
df = pd.DataFrame(data)
# Drop cols with all values = 0
for feature in element_symbols:
    if np.all(df[feature] == 0):
        df.drop(columns = feature, inplace=True)
        print(feature)

He
Ne
S
Ar
Cr
Fe
Ni
Cu
As
Se
Br
Kr
Tc
Ru
Rh
Pd
Ag
Cd
I
Xe
Ce
Pr
Nd
Pm
Sm
Tb
Dy
Ho
Er
Tm
Yb
Hf
Re
Os
Ir
Pt
Au
Hg
Tl
Po
At
Rn
Fr
Ra
Ac
Th
Pa
U
Np
Pu
Am
Cm
Bk
Cf
Es
Fm
Md
No
Lr
Rf
Db
Sg
Bh
Hs

In [22]:
df.to_csv('Data_processed.csv', index = False)

In [23]:
import os
os.remove('updated_file_with_new_columns.csv')